<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @user.uid %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<h3>Your Facebook Friends </h3>
<ul>
<% @my_freinds.each do |x| %>
  <li><%= link_to x.last, user_get_frineds_path(x.last), method: :post %></li>
<% end %>
</ul>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>